{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "always"
      }
    ],
    "quotes": [
      "error",
      "single",
      "avoid-escape"
    ],
    "key-spacing": [
      "error",
      {
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": false,
          "afterColon": true
        }
      }
    ],
    "no-magic-numbers": [
      "error",
      {
        "ignoreArrayIndexes": true
      }
    ],
    "eqeqeq": "error",
    "block-scoped-var": "error",
    "complexity": [
      "error",
      {
        "maximum": 20
      }
    ],
    "curly": "error",
    "default-case": "error",
    "dot-location": [
      "error",
      "property"
    ],
    "guard-for-in": "error",
    "no-eval": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "id-length": [
      "error",
      {
        "min": 2,
        "properties": "never",
        "exceptions": [
          "$"
        ]
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "space-before-blocks": "error",
    "prefer-const": "error",
    "no-var": "error",
    "arrow-body-style": "off",
    "arrow-spacing": "error",
    "strict": [
      "error"
    ],
    "no-warning-comments": [
      "warn",
      {
        "terms": [
          "todo",
          "fixme",
          "hack"
        ],
        "location": "anywhere"
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "@typescript-eslint/interface-name-prefix": [
      "error",
      {
        "prefixWithI": "always"
      }
    ],
    "no-func-assign": "off",
    "arrow-parens": [
      "off",
      "as-needed"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "react-hooks/rules-of-hooks": "error",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "@typescript-eslint/no-var-requires": "off"
  }
}
